body {
    font-family: 'Nunito', sans-serif;
    background-image: url({{ url_for('static', filename='retro.png') }});
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.title {
    color: white;
}

#tbl {
    background: rgba(255, 255, 255, .7);
}

.content {
    margin: 0 auto;
    width: 50vw;
}

table {
    border-collapse: collapse;
    width: 60vw;
}

th, td {
    border: 1px solid #aaa;
    padding: 5px;
    text-align: left;
}

th {
    height: 30px;
    background-color: #111;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #DCDCDC;
}

.form {
    margin-top: 20px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

input[type="text"], input[type="password"], #username, #password, #role  {
    width: 60vw;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-size: 1vw;
}

#username, #password, #role {
    position:absolute;
    width: 20vw;
    height:5vh;
    left:45vw;
}

#username{
    top:30vh;
}

#role{
    top:50vh;
     height:6vh;
}

#password{
    top:40vh;
}

#login-btn, #register-btn {
    position:absolute;
    display: block;
    margin: 0 auto;
    left:50vw;
    top:50vh;
    width:10vw;
    height:6vh;
    font-size: 1vw;
}
#register-btn{
    top:60vh;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #575757;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar a, .sidebar h1 {
    padding: 15px;
    color: white;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a {
    text-decoration: none;
    font-size: 1vw;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar h1 {
    font-size: 1vw;
    border-bottom: 1px solid #444;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

a.action-link {
    padding: 5px 10px;
    background-color: #111;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a.action-link:hover {
    background-color: #575757;
}

a.action-link:not(:last-child) {
    margin-right: 10px;
}
